$btn-bg-color: #a3a5c7;
$freesia: #fec84d;
$navyBlue: #284b70;

.calculator {
  display: flex;
  flex-flow: column;
  width: 60%;
  height: 500px;
  margin-top: 100px;

  .output {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    height: 70px;
    background-color: $navyBlue;
    overflow-x: auto;

    .screen {
      margin: 0 5px 0 0;
      padding-top: 10px;
      text-align: center;
      vertical-align: middle;
      color: white;
      font-size: 2rem;
      overflow-x: auto;
    }
  }

  .buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 70%;

    .button {
      border: 1px solid $btn-bg-color;
      font-size: 1rem;
    }

    .button:active {
      background-color: $btn-bg-color;
    }

    .operator {
      background-color: $freesia;
    }

    .zero {
      -ms-grid-column: 1/2;
      grid-column: 1/3;
    }
  }
}
